*.exe
*.pdb
*.dll
Demo/bin/Debug/System.Windows.Interactivity.xml
Demo/obj/Debug/App.g.cs
Demo/obj/Debug/App.g.i.cs
Demo/obj/Debug/Demo.csproj.FileListAbsolute.txt
Demo/obj/Debug/Demo.csproj.GenerateResource.Cache
Demo/obj/Debug/Demo.csprojResolveAssemblyReference.cache
Demo/obj/Debug/Demo.g.resources
Demo/obj/Debug/Demo.Properties.Resources.resources
*.cache
*.baml
Demo/obj/Debug/MainWindow.g.cs
Demo/obj/Debug/MainWindow.g.i.cs
*.suo
HwndExtensions/bin/Debug/System.Windows.Interactivity.xml
HwndExtensions/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
HwndExtensions/obj/Debug/HwndExtensions.csproj.FileListAbsolute.txt
HwndExtensions/obj/Debug/HwndExtensions.Properties.Resources.resources
HwndExtensions/obj/Debug/HwndExtensions_MarkupCompile.i.lref
Demo/bin/Debug/Demo.vshost.exe.manifest
Demo/obj/Debug/BrowserAdornment.g.cs
Demo/obj/Debug/BrowserAdornment.g.i.cs
Demo/obj/Debug/Demo_MarkupCompile.lref
Demo/obj/Debug/GeneratedInternalTypeHelper.g.cs
Demo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs